.anime-checker__button-anistar{
	position: absolute;
    width: 100%;
    margin-top: 6px;
    display: inline-block;
    line-height: 40px;
    font-size: 22px;
    font-family: 'BebasBold', sans-serif;
    text-align: center;
    cursor: pointer;
    user-select: none;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
}

.anime-checker__button-animevost{
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    color: #b97217;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.anime-checker__button-anidub{
	display: block;
    float: left;
    width: 240px;
    margin-right: 58%;
    margin-left: 3px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}
.anime-checker__button-animy{
    display: block;
    line-height: 35px;
    cursor: pointer;
    margin-top: 2px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    user-select: none;
}

.anime-checker__button-anilibria{
	font-size: 13pt;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    display: inline-block;
    background-color: #f04646;
    padding: 5px;
    color: #FFF;
    text-align: center;
    margin: 10px 0;
    width: 352px;
    cursor: pointer;
    user-select: none;
}

.anime-checker__button-anilibria-subscribe{
	background: #f04646;
	color: white;
}

.anime-checker__button-anilibria-unsubscribe{
	background: #2d9c64;
	color: white;
}
.anime-checker__button-animy-subscribe{
    background: #ffa200;
    color: white;
}
.anime-checker__button-animy-unsubscribe{
    background: #f04646;
    color: white;
}
.anime-checker__button-anidub-subscribe{
	background: #ffa200;
	color: white;
}
.anime-checker__button-anidub-unsubscribe{
	background: #f04646;
	color: white;
}
.anime-checker__button-animevost-subscribe{
	background: #f9835f;
	color: white;
}

.anime-checker__button-animevost-unsubscribe{
	background: #bd5307f5;
	color: white;
}

.anime-checker__button-anistar-subscribe{
	background: #095CA8;
	color: white;
}

.anime-checker__button-anistar-unsubscribe{
	background: #FED000;
	color: black;
}

.news_avatar {
    margin-bottom: 46px;
}